# Replit URL manzillari
VITE_API_URL=https://543c8039-3a43-4749-afb5-891bd98f2748-00-21eqn5rvuhafb.sisko.replit.dev
VITE_WEBAPP_URL=https://543c8039-3a43-4749-afb5-891bd98f2748-00-21eqn5rvuhafb.sisko.replit.dev

# Bot (token faqat backend/.env da — xavfsizlik uchun)
VITE_BOT_USERNAME=MR_EXPRESSBOT
VITE_BOT_ID=8923075760
